<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Menu</title>

<body>
<h1 style="text-align:center;">Minecraft Control Panel</h1>

<p>Login</p>


<input type="password">
<input type="password">
<button type="button">Login</button>
</body>

</html>

<html>

<head>
    <style>
        .city {
            background-color: #5d3737;
            color: white;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>


</body>
</html>

<body style="background-color:#8f1d1d;">

<h1>A control panel coded in go</h1>
<p>Creators Hazard/</p>

